<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>錯誤頁面</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 120px;top: 0;line-height: 80px;">扣咖啡</h1>
        <nav>
            <ul>
                <li>
                    <a href="/adminAuth">MANAGE</a>
                    <ul>
                        <li><a href="/products/add">Products</a></li>
                        <li><a href="/products" >Search Products</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/members">MEMBER</a></li>
                <li><a href="#">CART</a></li>
                <li><a href="/login">SIGNIN</a></li>
                <li><a href="/members/signout">SIGNOUT</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row">
                <div id="category-menu">
                    <p class="gnav__link">CATEGORY</p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a href="">Roast Level</a>
                                    <ul><li><a href="">Light roast</a> </li>  
                                        <li> <a href="">Medium roast</a> </li>  
                                        <li> <a href="">Dark roast</a> </li>  </ul>  </li>  
                                <li> <a href="">Region</a>  
                                    <ul><li> <a href="">Asia / Oceania</a> </li>  
                                        <li> <a href="">Latin America</a> </li>  
                                        <li> <a href="">Africa</a> </li>  </ul>  </li>  
                                <li> <a href="">Brewing Equipment</a>  
                                    <ul><li> <a href="">LILI</a> </li>  
                                        <li> <a href="">MHW-3BOMBER</a> </li>  
                                        <li> <a href="">NANA COFFEE ROASTERS</a> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>
            </div>

            <div class="row flex-2">
                <div class="container">
                    <h1 style="text-align: center;">發生錯誤</h1>
                    <div class="error-message">{{ message }}</div>
                    <div style="text-align: center;"><a href="/">回首頁</a></div>
                </div>
                <!-- <iframe name="display-frame" align="center" width="100%" height="1000" frameborder="no" scrolling="yes"></iframe> -->
                <!-- <% if (path === null) { %>
                    <iframe align="center" width="100%" height="1000" src="../views/member.html"  frameborder="no" scrolling="yes"></iframe>
                <% } else { %>
                    <iframe align="center" width="100%" height="1000" src="<%= path %>"  frameborder="no" scrolling="yes"></iframe>
                <% } %>    -->
            </div>
        </div>
        </div>
    </nav>
    </main>
</body>
</html>