<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Coffee</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 80px;top: 0;line-height: 80px;">Code Coffee</h1>
        <nav>
            <ul>
                <% if (manageHeader.userInfo !== undefined && manageHeader.userInfo.account === "admin") { %>
                <li>
                    <a>MANAGE</a>
                    <ul>
                        <li><a href="/products/f/add">Add Products</a></li>
                        <li><a href="/products">Manage Products</a></li>
                        <li><a href="/orders">Orders</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>
                <% } %>
                <li><a href="/">Home</a></li>
                <li><a href="/members">MEMBER</a></li>
                <li><a href="/shoppingCart">CART</a></li>
                <li><a href="/login">SIGNIN</a></li>
                <li><a href="/signout">SIGNOUT</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row">
                <div id="category-menu">
                    <p class="gnav__link"><h3>CATEGORY</h3></p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a>Roast Level</a>
                                    <ul><li><form action="/products/f/search" method="GET"> <input type="hidden" name="roastLevel" value="light roast"/> <input type="submit" value="Light roast"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="roastLevel" value="medium roast"/> <input type="submit" value="Medium roast"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="roastLevel" value="dark roast"/> <input type="submit" value="Dark roast"></form>  </li>  </ul>  </li>  
                                <li> <a>Region</a>  
                                    <ul><li><form action="/products/f/search" method="GET"> <input type="hidden" name="region" value="asia"/> <input type="submit" value="Asia"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="region" value="latin america"/> <input type="submit" value="Latin America"> </form></li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="region" value="africa"/> <input type="submit" value="Africa"> </form> </li>  </ul>  </li>  
                                <li> <a href="">Equipment</a>  
                                    <ul><li><form action="/products/f/search" method="GET"> <input type="hidden" name="category" value="brewing"/> <input type="submit" value="Coffee Brewing"> </form> </li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="category" value="grinder"/> <input type="submit" value="Coffee Grinder"> </form> </li>  
                                        <li><form action="/products/f/search" method="GET"> <input type="hidden" name="category" value="others"/> <input type="submit" value="Others"> </form> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>
            </div>

            <div class="row flex-2">
                <h1>Welcome !!!</h1>
            </div>
        </div>
        </div>
    </nav>
    </main>
<footer>
    <p></p>
</footer>

</body>
</html> 