<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Coffee</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/style_old.css" type="text/css">
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 120px;top: 0;line-height: 80px;">扣咖啡</h1>

        <nav>
            <ul>
                <li>
                    <a href="/adminAuth">MANAGE</a>
                    <ul>
                        <li><a href="/products">Add Products</a></li>
                        <li><a href="/products" >Search Products</a></li>
                        <li><a href="#">Orders</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/members">MEMBER</a></li>
                <li><a href="#">CART</a></li>
                <li><a target="display-frame" href="/login">SIGNIN</a></li>
                <li><a href="/members/signout">SIGNOUT</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row">
                <div id="category-menu">
                    <p class="gnav__link">CATEGORY</p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a href="">Roast Level</a>
                                    <ul><li><a href="">Light roast</a> </li>  
                                        <li> <a href="">Medium roast</a> </li>  
                                        <li> <a href="">Dark roast</a> </li>  </ul>  </li>  
                                <li> <a href="">Region</a>  
                                    <ul><li> <a href="">Asia / Oceania</a> </li>  
                                        <li> <a href="">Latin America</a> </li>  
                                        <li> <a href="">Africa</a> </li>  </ul>  </li>  
                                <li> <a href="">Brewing Equipment</a>  
                                    <ul><li> <a href="">LILI</a> </li>  
                                        <li> <a href="">MHW-3BOMBER</a> </li>  
                                        <li> <a href="">NANA COFFEE ROASTERS</a> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>
            </div>

            <div class="row flex-2">
                <div class="form-login">
                    <h2>會員系統首頁</h2>
                    <h2>歡迎光臨我們的網站</h2>
                    <h1>Member Login</h1>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="account" name="account" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit">Login</button>
                        <div style="text-align: right; margin-top: 20px">
                            <a href="./register.html">Signup new accout</a>
                        </div>
                        <div class="error-message"></div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </nav>
    </main>
<footer>
    <p>ddd</p>
</footer>

</body>
</html> 

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Register</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h2>會員系統首頁</h2>
        <h2>歡迎光臨我們的網站</h2>
    </div>
    <div class="container">
        <h1>Member Login</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="account" name="account" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <div style="text-align: right; margin-top: 20px">
                <a href="./register.html">Signup new accout</a>
            </div>
            <div class="error-message"></div>
        </form>
    </div>
</body>
</html> -->
