<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <h2>會員頁面</h2>
    </div>
    <div class="container">
        <div style="text-align: right; margin-top: 20px">
            <button><a href="/adminAuth">前往管理者頁面</a></button>
        </div>
        <div style="text-align: right; margin-top: 20px">
            <button><a href="/members/signout">Singout</a></button>
        </div>
        <div class="error-message"></div>
    </div>
</body>
</html>
