<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Coffee</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
    <header>
        <h1 style="position: absolute;left: 80px;top: 0;line-height: 80px;">Code Coffee</h1>
        <nav>
            <ul>
                <li>
                    <a>MANAGE</a>
                    <ul>
                        <li><a href="/products/add">Add Products</a></li>
                        <li><a href="/products">Products List</a></li>
                        <li><a href="/orders">Orders List</a></li>
                        <li><a href="/members">Members List</a></li>
                    </ul>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/members/page">MEMBER</a></li>
                <% if (!manageHeader.userInfo) { %>
                <li><a href="/login">SIGNIN</a></li>
                <% } else { %>
                <li><a href="/signout">SIGNOUT</a></li>
                <% } %>
                <% let sum = 0; if (manageHeader.cart) { manageHeader.cart.products.forEach(item => { sum += item.quantity }) }%>
                <li><a href="/shoppingCart">CART (<%= sum %>)</a></li>
             </ul>
       </nav>
    </header>
    <main>
    <nav>
    <div class="container">
        <div class="d-flex outer">
            <div class="row desktop-mode">
                <div id="category-menu">
                    <form action="/products/search" method="GET">
                        <input type="search" name="name" placeholder="Press enter to search">
                    </form>
                    <br>
                    <p class="gnav__link"><h3>CATEGORY</h3></p>
                        <div class="category-list"> 
                            <ul>
                                <li> <a>Roast Level</a>
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="light roast"/> <input type="submit" value="Light roast"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="medium roast"/> <input type="submit" value="Medium roast"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="roastLevel" value="dark roast"/> <input type="submit" value="Dark roast"></form>  </li>  </ul>  </li>  
                                <li> <a>Region</a>  
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="region" value="asia"/> <input type="submit" value="Asia"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="region" value="latin america"/> <input type="submit" value="Latin America"> </form></li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="region" value="africa"/> <input type="submit" value="Africa"> </form> </li>  </ul>  </li>  
                                <li> <a>Equipment</a>  
                                    <ul><li><form action="/products/search" method="GET"> <input type="hidden" name="category" value="brewing"/> <input type="submit" value="Coffee Brewing"> </form> </li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="category" value="grinder"/> <input type="submit" value="Coffee Grinder"> </form> </li>  
                                        <li><form action="/products/search" method="GET"> <input type="hidden" name="category" value="others"/> <input type="submit" value="Others"> </form> </li>  </ul>  </li>    
                            </ul>
                        </div>        
                </div>

            </div>

            <div class="row flex-2">
                <form action="/products" method="POST" id="form-product" class="form-group">
                    <h2 style="text-align: center; margin-bottom: 20px;">Add new product</h2>
                    <div>
                        <label for="name">Name</label>
                        <input style="margin-left: 28px;" type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="category">Category</label>
                        <select id="category" name="category" required>
                            <option value="coffee beans" selected>coffee beans</option>
                            <option value="brewing">brewing</option>
                            <option value="grinder">grinder</option>
                            <option value="others">others</option>
                        </select>
                    </div>
                    <div>
                        <label for="category">Roast Level</label>
                        <select id="roastlevle" name="roastLevel">
                            <option value="none" selected>none</option>
                            <option value="light roast">light roast</option>
                            <option value="medium roast">medium roast</option>
                            <option value="dark roast">dark roast</option>
                        </select>
                    </div>
                    <div>
                        <label for="category">Region</label>
                        <select style="margin-left: 15px;" id="region" name="region">
                            <option value="none" selected>none</option>
                            <option value="asia">asia</option>
                            <option value="latin america">latin america</option>
                            <option value="africa">africa</option>
                        </select>
                    </div>
                    <div>
                        <label for="category">Quantity</label>
                        <input type="number" id="quantity" name="quantity" min="1" required>
                    </div>
                    <div>
                        <label for="category">Price</label>
                        <input style="margin-left: 28px;" type="number" id="price" name="price" min="1" required>
                    </div>
                    <div>
                        <label for="content">Content</label><br><br><br>
                        <textarea class="content-box" name="content" rows="10" cols="100" placeholder="Product description"></textarea>
                    </div>
                    <button type="submit">submit</button>
                    <div id="btn"></div>
                </form>
                <!-- <form method="POST" action="/products/test">
                <button type="submit">Upload raw data</button>
                </form> -->
            </div>
        </div>
        </div>
    </nav>
    </main>
<footer>
    <p></p>
</footer>

</body>
</html> 
